@charset "UTF-8";

* {margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;}
a { color:#000000;text-decoration:none; }



/* 검색창에 대한 스타일 */
div#search-container {margin:0 0 10px 0; padding:3px; background-color: #f3f3da;}
div#search-userId{display:inline-block;}
div#search-userName{display:none;}
div#search-gender{display:none;}
div#numPerpage-container{float:right;}
form#numperPageFrm{display:inline;}

/* 달력에 대한 스타일 */
.scriptCalendar { text-align:center; }
.scriptCalendar > thead > tr > td { width:150px;height:50px; }
.scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
.scriptCalendar > thead > tr:last-child > td { background-color:red; }
.scriptCalendar > tbody > tr > td { width:150px;height:150px; }
.calendarBtn { cursor:pointer; } 


/* 예약하기에 대한 스타일 */
table.scriptCalendar{margin-left:auto;margin-right:auto;}
div.reserve_step2{display:none;}
