@charset "UTF-8";

body{font-family: 'Noto Sans KR', sans-serif;}
/* div,section,header,footer{padding:2px;}  */
div#container{background-color:#F0F0F0;width:100%;margin:0 auto;}
header{/* background-color:#00BCD4; */height:130px;position:relative;padding:10px 0 0 0;}
header h1{margin-left : 10px;}
section#content{background-color:#F5F5F5;float:left;width:100%;min-height:500px;}
footer{/* background-color:#00BCD4; */clear:both;height:75px;text-align:center;padding-top:40px;}
	
	/* 로그인컨테이너 */
	/* header div.login-container{width:250px; position:absolute; right: 0px; top: 10px;}
	#loginFrm table{empty-cells:hide;}
	#loginFrm input[type=submit]{width:60px; height:50px; color:white; background:#3300ff; position:absolute; top:10px;}
	#saveId+label{font-size:12px;font-family:'고딕'} */
	
	/* 메뉴관련스타일 */
	/* header nav {background:#5283de; width:100%; margin-top:40px;} */
	
	/* ul태그의 가운데정렬 */
	/* ul.main-nav{width:80%;display:table;padding:0px;margin:auto;}
	ul.main-nav li { list-style-type: none; width: 8em; height: 2em;float: left; text-align: center; 
					 font-family: "휴먼모음T", sans-serif; border-left: 1px #00bcd4 solid;background-color: #5283de;}
	ul.main-nav li:last-of-type{border-right:1px #00bcd4 solid;;}
	ul.main-nav li a {display: block;padding:.5em;text-decoration: none;color: #292929;} */
	
	/* hover시 배경색 변경 */
	/* ul.main-nav li:hover{background-color: #3300ff;}
	ul.main-nav li:hover > a{color:#FFF; 글자색} */
		
	/* 회원가입페이지 */
	/* section#enroll-container {text-align:center;}
	section#enroll-container input{margin:3px;}
	section#enroll-container table{margin:0 auto;}
	section#enroll-container table th {padding:0 10px; text-align:right;}
	section#enroll-container table td {padding:0 10px; text-align:left;} */
	
	/* 검색창에 대한 스타일 */
	div#search-container {margin:0 0 10px 0; padding:3px; background-color: #f3f3da;}
	div#search-userId{display:inline-block;}
	div#search-userName{display:none;}
	div#search-gender{display:none;}
	div#numPerpage-container{float:right;}
	form#numperPageFrm{display:inline;}
/* ====================================================================================== */

*{font-family: 'Noto Sans KR', sans-serif;}
    
/* 필터 박스 */
div#filterBox{ text-align:center;}

/* 달력 */
.scriptCalendar { text-align:center; }
.scriptCalendar > thead > tr > td { width:150px;height:50px; }
.scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
.scriptCalendar > thead > tr:last-child > td { background-color:gray;color:white; }
.scriptCalendar > tbody > tr > td { width:150px;height:150px; }
.scriptCalendar > tbody > tr > td > hr {margin :5px 0 10px 0; }
.scriptCalendar > tbody > tr > td > div {padding:3px; }

.calendarBtn { cursor:pointer; } 

/* 배너 */
.category-image { position:relative;text-align:center;color:#FFFFFF; }
.category-image div { position: absolute;top:50%;left:50%; transform: translate(-50%, -50%); color: black; font-size: 30px; font-weight: bolder;}

/* 객실 조회하기 */
li.checkbox > label > input{margin : 0.5rem;}
ul > li > .btn{ margin-left:2.5rem; margin-top:0.6rem; /* text-decoration: underline;  */ font-size:1.05rem;}

/* 예약하기 */
table.scriptCalendar{margin-left:auto;margin-right:auto;}
div.reserve_step2{display:none;}

/* 객실예약 공통 */
buttons{text-align: center; font-size:1.2rem; font-weight: bold;}
.buttons{ text-align: center; font-size:1.2rem; font-weight: bold;}
div.roundbox * {vertical-align: middle;}

/* 객실예약정보입력1 */
div#reserveInput > div {margin-bottom: 0.4rem !important; }

div#reserveInput .header:nth-child(1) { font-size: 0.8rem; padding-left: 1rem; } 
div.roundbox > div.header  { background-color: #F2F2F2; padding: 0.1rem 1rem;  border-bottom: 1px solid #c8c9cb; }
div#reserveInput .header >h3 { margin: 0.4rem 0 0.4rem 0; } 
div.roundbox > .content {padding: 1rem 0.6rem 1rem 0.8rem ; line-height: 1.8em; }
div.roundbox > .content > ul { list-style:none; }
div.roundbox > #countPerson > ul > li{vertical-align: middle; display: table-cell;  padding-right: 2rem;}
div.roundbox > #countPerson > ul > li > *{ display: flex; flex-direction: column; justify-content: center;}


div#reserveInput > #tempHeader { margin-bottom: 1rem;}
div#reserveInput > #tempHeader > span { font-weight: bold; }
div#reserveInput > #tempHeader > span > #typeNm {font-size: 2rem; margin-left: 1rem;}

div#reserveInput > .perio-wrapper {border: 0.1rem solid gray; border-radius: 0.5rem;}
div#reserveInput > .perio-wrapper > .content  > div > p {  text-decoration: underline; font-size: 0.9rem; color: gray; margin: 0 5rem 0 2.5rem;}
div#reserveInput > .perio-wrapper > .content  > div:nth-child(2)  { font-weight: bold; font-size: 2rem; padding: 0 0 0 1rem; }
div#reserveInput > .perio-wrapper > .content  > div > span {  font-weight: bold; font-size: 1.5rem; margin:  0 0 0 2.5rem;}

div#reserveInput > .extra-person-wrapper {border: 0.1rem solid gray; border-radius: 0.5rem; }
div#reserveInput > .options-wrapper {border: 0.1rem solid gray; border-radius: 0.5rem; }
div#reserveInput > .summary-wrapper {border: 0.1rem solid gray; border-radius: 0.5rem;}
.roundbox > .content > div > p > em {font-size: large; font-size: 2rem; padding-right: 1.5rem;}
 
/* 객실예약정보입력2 */
.reserve_step3 > form > .roundbox > div.container { margin: 1.5rem;}
.reserve_step3 > form > div.roundbox > div.container > h3 > span:first-child {background-color: #333333;color: #ffffff;border: 1px solid #566278;font-family: 'arial';font-size: 1rem;padding: 0.2rem 0.2rem;letter-spacing: -0.1rem;}
form > div.roundbox > div.container > h3 > span:last-child {font-size: 1.25rem;color: #313131;padding-bottom: 0.1rem;font-weight: bold;}
form > div.roundbox > div.container > table.table-1 tbody tr td {border: 1px solid #dedede;border-width: 1px 0px 1px 1px;padding: 0.5px 1rem;color: #555555;line-height: 1.5em;font-size: 0.9rem;font-weight: bold;}
form > div.roundbox > div.container-1 > table > tbody > :last-child td span:last-child em {color: #ff3535; }
form > .roundbox > div.container-2 table > tbody tr > td > textarea{ resize: none;}
table.table-2  {margin-left:2.5rem;}
table.table-2 thead tr th { background-color: #f2f2f2; border: 1px solid #dedede; /* border-width: 1px 0; */text-align: center;padding: 0.3rem 0.3rem;font-size: 0.8rem;font-weight: bold;}
table.table-2 tbody tr td {border: 1px solid #dedede;/* border-width: 1px 0; */padding: 0.5rem 1rem;color: #555555;line-height: 1.5em;font-size: 0.8rem;font-weight: bold;}
 
/* 객실예약정보입력3 */
div.container > h3 > span:first-child {background-color: #333333;color: #ffffff;border: 1px solid #566278;font-family: 'arial';font-size: 1rem;padding: 0.3rem 0.3rem;letter-spacing: -1px;padding-top: 0.5rem;}
table.table-1 {margin:1rem 2rem;}
table.table-1 tbody tr th{background-color: #f2f2f2;border: 1px solid #dedede; /* border-width: 1px 0; */text-align: center; padding: 0.5rem 0;width: 6rem;font-weight: bold;}
table.table-1 tbody tr td {border: 1px solid #dedede; /* border-width: 1px 0; */ padding: 0.5rem 1rem;color: #555555;line-height: 1.5em;font-size: 0.8rem;font-weight: bold;}
div.reserve_step4 div.container-1 p {color: #ff3535;font-size: 0.8rem;display: block;width: 96%;line-height: 2;}

